<h2 style="margin-top: 15px">Find <a target="_blank" href="https://search.freefind.com/find.html?id=20380144&map=0&page=0&ics=1">more</a> &hellip;</h2>
<div class="search">
  <table cellpadding=0 cellspacing=0 border=0 >
    <tr>
      <td  colspan=2 style="font-family: Arial, Helvetica, sans-serif; font-size: 7.5pt; border-bottom: none;">
        <form style="margin:0px; margin-top:4px;" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
        <input type="hidden" name="si" value="20380144">
        <input type="hidden" name="pid" value="r">
        <input type="hidden" name="n" value="0">
        <input type="hidden" name="_charset_" value="">
        <input type="hidden" name="bcd" value="&#247;">
        <input type="text" name="query" size="35">
        <input type="submit" value="search">
        </form>
      </td>
    </tr>
  </table>
</div>
<hr style="margin-top: 25px"/>
<footer>
  <div>
    <div class="avatar">
      <a href="https://helmut.hoffer-von-ankershoffen.me">
        <img src="https://helmut.hoffer-von-ankershoffen.me/assets/images/helmut-hoffer-von-ankershoffen-ne-oertel-head.jpg" alt="Helmut Hoffer von Ankershoffen né Oertel" />
      </a>
    </div>
    <div class="links">
      <ul>
        <li>
          Subscribe <a rel="me" target="_blank" href="{{ "/feed.xml" | relative_url }}">via RSS</a>
        </li>
        <li>
          <a rel="me" target="_blank" href="{{ site.url_main }}">Visit</a> or <a rel="me" target="_blank" href="https://mein.dastelefonbuch.de/Berlin/1-Helmut-Hoffer-von-Ankershoffen-n%C3%A9-Oertel-Sandra-Hoffer-von-Ankershoffen-Berlin-Wisbyer-Str.html">contact</a> or <a rel="me" target="_blank" href="https://www.gutefrage.net/nutzer/ankershoffen">ask</a> me
        </li>
        <li>
          Visit <a rel="me" target="_blank" href="{{ site.url_photography }}">my photography</a> and <a rel="me" target="_blank" href="https://www.deviantart.com/ankershoffen">art</a>
        </li>
        <li>
          Visit my <a rel="me" target="_blank" href="{{ site.url_blog_sdm }}">SDM</a> and <a rel="me" target="_blank" href="{{ site.url_blog_iot }}">IoT</a> blog
        </li>
        <li>
          Visit <a rel="me" target="_blank" href="{{ site.url_monitoring }}">monitoring</a> and <a rel="me" target="_blank" href="{{ site.url_stack }}">stack</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
{% if site.google_analytics %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endif %}
