---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <hgroup>
        <h1 itemprop="name"><a rel="bookmark" title="{{ page.title }}" href="#">{{ page.title }}</a></h1>
        <h2>Published at <time itemprop="datePublished">{{ page.date }}</time> via <a class="username" href="https://twitter.com/{{ page.username}}">@h_ankershoffen</a></h2>
    </hgroup>
  </header>

  <div class="post-content -article" itemprop="articleBody">
      {{ page.content }}
  </div>

  <footer>
    <ul>
      <li>Author: <a rel="author" href="https://helmut.hoffer-von-ankershoffen.me">Helmut Hoffer von Ankershoffen né Oertel</a></li>
      <li>Original tweet: <a rel="alternate" href="{{ page.link }}">{{ page.link }}</a></li>
    </ul>
  </footer>

</article>

{% assign tagCount = page.tags | size %}
{% if tagCount > 0 %}
  <h2>Show related &hellip;</h2>
  <ul>
    {% for tag in page.tags %}
      <li>
        <a target="_blank" href="https://search.freefind.com/find.html?si=20380144&pid=r&n=0&_charset_=UTF-8&bcd=%C3%B7&query={{ tag | url_encode }}">#{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Show more &hellip;</h2>
<div class="pagination">
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}" class="previous">Previous</a> /
    {% endif %}
    {% if page.next.url %}
      <a href="{{ page.next.url }}" class="next">Next</a>
    {% endif %}
</div>
